<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabelPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FiscalLabelPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LabelPrint.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>1251</value>
            </setting>
            <setting name="CSVdelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Codepages_list" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
        </LabelPrint.Properties.Settings>
        <FiscalLabelPrint.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="CSVdelimiter" serializeAs="String">
                <value>;</value>
            </setting>
        </FiscalLabelPrint.Properties.Settings>
    </userSettings>
</configuration>